* {
    margin: 0;
    padding: 0;
}

body {
    background: #141820;
    font-family: "Exo", sans-serif;
}

.containerone {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    /* color: #ffffff; */
}

.row {
    height: 10vh;
    width: 100%;
    justify-items: center;
    display: flex;
    background-color: #161625;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
}

.logo {
    width: 25vw;
    /* border: 1px solid #ffffff; */
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    float: left;
    color: #ffffff;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    /* background-image: url(images/logos/mybrandlogo-01.svg); */
}

.logo .p {
    /* display: inline; */
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 1vw;
}

.logo img {
    background-repeat: no-repeat;
    width: 3.5vw;
}

.row .links {
    width: 72vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row .links ul {
    display: flex;  /* Make the UL a flex container */
    /* justify-content: center;  Center items horizontally */
    gap: 7vw; /* Optional: Adds spacing between items */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    align-items: center;
    text-align: center;
}

.row .links li {
    list-style: none;
    color: #ffffff;
    /* background-color: cornflowerblue; */
}

.row .links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.9vh 0.9vw;
    position: relative;

}

.links li a:hover {
    /* color: rgb(255, 204, 0); */
    /* border: solid 3px  rgb(255, 204, 0); */
    /* color: #ffffff; */
    border-radius: 8px;
    /* background-color: rgb(0, 255, 166); */
    border: dashed 1.5px rgb(255, 255, 255);
    animation: animate-gradient 10.5s linear infinite;


    background: linear-gradient(to left, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 10.5s linear infinite;
    
    transition: 0.4s;
    /* letter-spacing: 0.5px; */
    font-weight: 800;
}

a:hover {
    color: #ffffff;
}


.links li a:hover ::after {
    content: ""; /* Creates an empty pseudo-element */
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjusts the position */
    width: 100%;
    height: 2px;
    background-color: white; /* Makes it visible */
    transition: width 0.3s ease-in-out;

}

/* section */

.landing {
    width: 90vw;
    height: 80vh;
    margin-top: 1vh;
    color: #bebebe;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    /* border: #bebebe 1px solid; */
    width: 50vw;
    height: 40vh;
    float: left;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    margin-left: 5vw;
    margin-top: 7%;
}

.myname {
    font-weight: 900;
    font-size: 30px;
    background-image: linear-gradient(red white);
    letter-spacing: 2px;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 10.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.socialmedia {
    /* border: 1px rgb(204, 0, 255) solid; */
    border-radius: 20px;

    background: linear-gradient(to left, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 10.5s linear infinite;


    width: 15vw;
    height: 6vh;
    justify-items: center;
    float: left;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    /* border: 1px white solid; */
    width: 2.7vw;
    height: 6vh;
}

.icon i {
    width: 100%;
    height: 100%;
    background-position: center;
}

.bx {
    font-size: 34px;
}

.myimage {
    border: 2px dashed #01aaff;
    margin-right: 5vw;
    margin-top: 6.5%;
    height: 50vh;
    width: 23vw;
    float: right;
    border-radius: 10em;
    background-image: url(images/logos/mylogo-01.svg);
    background-size: 132%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}